.feed {
  padding-bottom: 71px;
  &__item {
    display: flex;
    margin-top: 100px;
    align-items: center;
    &:nth-child(2) {
      margin-top: 70px;
    }
  }

  &__img {
    width: 169px;
    height: 169px;
    padding-left: 15px;
  }

  &__text {
    margin-left: 62px;
    padding-right: 60px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    color: #0d0d0d;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
  }

  &____descr {
    font-weight: 300;
    font-size: 16px;
    color: #0d0d0d;
  }
}
